<section class="reset">
  <div >
    <div class="card" style="background-color: rgba(255, 255, 255, 0.137);">
      <div class="card-body">
        <div style="text-align: center;"><mat-icon [inline]="true" style="transform: scale(3);color: rgb(255, 255, 255);">mail</mat-icon></div>
      <form (submit)="onSubmit()" [formGroup]="forgotPassword">
        <div class="form-group">
          <div class="row" style="margin-top: 10px;">
            <label class="label">Please enter your email address</label>
          </div>
          <div class="row" style="margin-top: 30px;">

              <div>
                <input [ngClass]="{'is-invalid':submitted && forgotPassword.controls.emailAddress.errors}" formControlName="emailAddress" type="email" class="form-control" [(ngModel)]="emailAddress" placeholder="abc@gmail.com" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
                        <div *ngIf="submitted && forgotPassword.controls.emailAddress.errors" class="text-danger">
                          <div *ngIf="submitted && forgotPassword.controls.emailAddress.errors.required">
                            Email Address is required
                          </div>
                          <div *ngIf="submitted && forgotPassword.controls.emailAddress.errors.email">
                            Email Address is not Valid
                          </div>
                        </div>

              </div>

          </div>



          <div class="row" style="margin-top: 10px;text-align: center;">
            <div class="form-group">
              <button type="submit" class="btn " style="border-radius: 20px;width: 100%;background-color: rgba(51, 8, 209, 0.219);color: white;">NEXT</button>

            </div>
          </div>


        </div>

      </form>
      </div>
    </div>
  </div>
  </section>
