<section class="verification">
  <div class="verificationcontent">
    <div class="card" style="background-color: rgba(255, 255, 255, 0.137);">
      <div class="card-body">
        <div style="text-align: center;"><mat-icon [inline]="true" style="transform: scale(3);color: rgb(255, 255, 255);">verified_user</mat-icon></div>
        <h1 class="card-title-center" style="text-align: center;color: rgb(252, 250, 250);">Verification</h1>
      <form (submit)="onSubmit()" [formGroup]="registerForm">
        <div class="form-group">
          <div class="row" style="margin-top: 10px;">
            <label class="label">We sent your varification code to your email.Please check and enter varification code.</label>
          </div>
          <div class="row" style="margin-top: 30px;">

              <div>
                <input [ngClass]="{'is-invalid':submitted && registerForm.controls.verificationCode.errors}" formControlName="verificationCode" type="text" class="form-control" [(ngModel)]="verificationCode" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
                <div *ngIf="submitted && registerForm.controls.verificationCode.errors" class="text-danger">
                  <div *ngIf="submitted && registerForm.controls.verificationCode.errors.required">
                    Please enter verification code
                  </div>
                </div>
              </div>

          </div>



          <div class="row" style="margin-top: 10px;text-align: center;">
            <div class="form-group">
              <button type="submit" class="btn " style="border-radius: 20px;width: 100%;background-color: rgba(51, 8, 209, 0.219);color: white;">VERIFY</button>

            </div>
          </div>

          <div class="row" style="margin-top: 10px;text-align: center; cursor: pointer;">
            <a class="label" (click)="resendCode()">Resend verification code</a>
          </div>

        </div>

      </form>
      </div>
    </div>
  </div>
  </section>
