

  <div class="vacancy">
    <div >
      <div class="card" style="background-color: rgba(255, 255, 255, 0.137);">
        <div class="card-body" >
          <h1 class="card-title-center" style="text-align: center;color: rgb(252, 250, 250);">Add a New Vacancy</h1>
          <form (submit)="addVacancy()" [formGroup]="postJob">
            <div class="form-group">
              <div class="row" style="margin-top: 10px;">

                  <div class="col-sm-3">
                    <label for="jobTitle" class="label">Title:</label>
                  </div>
                  <div class="col-sm-9">
                    <input [ngClass]="{'is-invalid':submitted && postJob.controls.jobTitle.errors}" formControlName="jobTitle" type="text" class="form-control" [(ngModel)]="jobTitle" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;" >
                    <div *ngIf="submitted && postJob.controls.jobTitle.errors" class="text-danger">
                      <div *ngIf="submitted && postJob.controls.jobTitle.errors.required">
                        Title is required
                      </div>
                    </div>
                  </div>

              </div>
              <div class="row" style="margin-top: 10px;">

                  <div class="col-sm-3">
                    <label for="salaryRange" class="label">Salary Range:</label>
                  </div>
                  <div class="col-sm-9">
                    <input [ngClass]="{'is-invalid':submitted && postJob.controls.salaryRange.errors}" formControlName="salaryRange" type="text" class="form-control" [(ngModel)]="salaryRange" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
                    <div *ngIf="submitted && postJob.controls.salaryRange.errors" class="text-danger">
                      <div *ngIf="submitted && postJob.controls.salaryRange.errors.required">
                        Salary range is required
                      </div>
                    </div>
                  </div>

              </div>
              <div class="row" style="margin-top: 10px;">

                  <div class="col-sm-3">
                    <label for="description" class="label">Job Description:</label>
                  </div>
                  <div class="col-sm-9">
                    <angular-editor [config]="editorConfig"
                     [ngClass]="{'is-invalid':submitted && postJob.controls.jobDescription.errors}"  formControlName="jobDescription" [(ngModel)]="jobDescription"></angular-editor>
                    <div *ngIf="submitted && postJob.controls.jobDescription.errors" class="text-danger">
                    <div *ngIf="submitted && postJob.controls.jobDescription.errors.required">
                      Job description is required
                    </div>
                  </div>

                  </div>

              </div>
              <div class="row" style="margin-top: 10px;">

                  <div class="col-sm-3">
                    <label for="category" class="label">Job Category:</label>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control" [ngClass]="{'is-invalid':submitted && postJob.controls.category.errors}" formControlName="category" [(ngModel)]="category" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
                      <option  *ngFor="let category of jobCategoryList" [value]="category.id" style="color: black">{{ category.title }}</option>
                    </select>
                    <div *ngIf="submitted && postJob.controls.category.errors" class="text-danger">
                    <div *ngIf="submitted && postJob.controls.category.errors.required">
                      Job category is required
                    </div>
                  </div>

              </div>
            </div>

              <div class="row" style="margin-top: 10px;">

                  <div class="col-sm-3">
                    <label for="modality" class="label">Job Modality:</label>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control"  [ngClass]="{'is-invalid':submitted && postJob.controls.modality.errors}" formControlName="modality" [(ngModel)]="modality" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
                      <option  *ngFor="let modality of jobModalityList" [value]="modality.id"  style="color: black">{{ modality.title }}</option>
                    </select>
                    <div *ngIf="submitted && postJob.controls.modality.errors" class="text-danger">
                      <div *ngIf="submitted && postJob.controls.modality.errors.required">
                        Job modality is required
                      </div>
                  </div>

              </div>
            </div>
              <div class="row" style="margin-top: 10px;">

                  <div class="col-sm-3">
                    <label for="type" class="label">Job Type:</label>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control" [ngClass]="{'is-invalid':submitted && postJob.controls.type.errors}" formControlName="type" [(ngModel)]="type"  style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
                      <option  *ngFor="let type of jobTypeList" [value]="type.id"  style="color: black">{{ type.title }}</option>
                    </select>
                    <div *ngIf="submitted && postJob.controls.type.errors" class="text-danger">
                      <div *ngIf="submitted && postJob.controls.type.errors.required">
                        Job type is required
                      </div>
                  </div>

              </div>

              <div class="row" style="margin-top: 10px;text-align: center;">
                <div class="form-group">
                  <button type="submit" class="btn " style="border-radius: 20px;width: 100%;background-color: rgba(51, 8, 209, 0.219);color: white;">SAVE</button>

                </div>
              </div>

            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
