.content{
width: 100%;
min-height: 100vh;
margin: 0%;
padding: 0%;
}

.home{

    /* FLEX */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.card-title{
  cursor: pointer;
}

.profile{
  cursor: pointer;
}

.company{
  cursor: pointer;
}
