

<div class="employer">
  <div class="row" *ngIf="isRegistrationComplted===false">
    <div class="card" style=" margin: 5px;background-color: rgba(255, 255, 255, 0.137);" >

      <div class="card-body" >


        <div class="row">
          <div>
            <p class="label">You don't have completed registration.You can completed your registration frome here</p>
          </div>

        </div>

        <div class="row" style="text-align: center">
          <google-pay-button
    environment="TEST"
    buttonType="pay"
    buttonColor="black"
    [paymentRequest]="paymentRequest"
    (loadpaymentdata)="onLoadPaymentData($event)"
    (error)="onError($event)"
    [paymentAuthorizedCallback]="onPaymentDataAuthorized"
  >
  </google-pay-button>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="card" style="background-color: rgba(255, 255, 255, 0.137);">
      <div class="card-body">
        <h1 class="card-title-center" style="text-align: center;color: white;">Employer Profile</h1>
        <form>
          <div class="form-group">
            <div class="row" style="margin-top: 10px;">

              <div class="col-sm-4">
                <img src="{{ logo }}" style="height: 60%;width:60%; ">
              </div>
              <div class="col-sm-8">
                <input class="form-control" type="file" value="{{ logo }}" name="logo"  accept="image/*" (change)="changeLogo($event)" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
              </div>

          </div>
            <div class="row" style="margin-top: 10px;">

                <div class="col-sm-4">
                  <label for="companyName"  class="label">Company Name:</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" value="{{ name }}" name="name" (change)="changeName($event)" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
                </div>

            </div>
            <div class="row" style="margin-top: 10px;">

              <div class="col-sm-4">
                <label for="address"  class="label">Address:</label>
              </div>
              <div class="col-sm-8">
                <input class="form-control" type="text" value="{{ address }}" name="address" (change)="changeAddress($event)" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
              </div>

          </div>
          <div class="row" style="margin-top: 10px;">

            <div class="col-sm-4">
              <label for="email"  class="label">Email Address:</label>
            </div>
            <div class="col-sm-8">
              <input class="form-control" type="text" value="{{ email }}" name="email" (change)="changeEmail($event)" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">

          <div class="col-sm-4">
            <label for="phone"  class="label">Phone Number:</label>
          </div>
          <div class="col-sm-8">
            <input class="form-control" type="text" value="{{ phone }}" name="phone" (change)="changePhone($event)" style="background-color: rgba(255, 255, 255, 0.425);border-radius: 20px;width: 100%;">
          </div>

      </div>


            <div class="row" style="margin-top: 10px;text-align: center;">
              <div class="form-group">
                <button type="submit" class="btn" style="border-radius: 20px;width: 100%;background-color: rgba(51, 8, 209, 0.219);color: white;" (click)="onSubmit()">Update Profile</button>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
  </div>
