<div>
  <h1>Posted Vacancies</h1>
</div>
<div>
  <div class="card" style=" margin: 5px;" *ngFor="let data of vacancyData" >

    <div class="card-body" style="background-color: rgb(214, 252, 252);" >
      <div class="row">
        <div class="col" style="text-align: left;">
          <h1 class="card-title" (click)="onClick(data)">{{ data.title }}</h1>
       </div>
        <div class="col" style="text-align: right;">
          <a   (click)="showRequests(data.id)" class="requests" [matBadge]="data.numOfRequests" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="above after"><mat-icon [inline]="true" style="color: rgba(46, 5, 141, 0.74);transform: scale(1.5);">feedback</mat-icon></a>&nbsp;&nbsp;
          <a  (click)="editVacancy(data.id)" class="delete"><mat-icon [inline]="true" style="color: rgb(5, 146, 5);transform: scale(1.5);">create</mat-icon></a>&nbsp;&nbsp;
          <a class="edit" (click)="deleteVacancy(data.id)"> <mat-icon [inline]="true" style="color: rgb(241, 7, 7);transform: scale(1.5);">delete</mat-icon></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"><p>Salary Range: {{ data.salaryRange }}</p></div>
         <div class="col-sm-3"><p>Category: {{ data.category.title }}</p></div>
         <div class="col-sm-3"><p>Type: {{ data.type.title }}</p></div>
         <div class="col-sm-3"><p>Modality: {{ data.modality.title }}</p></div>
      </div>


     <!--start more details-->
    <div class="row" >
      <div *ngIf="data.id==vacancySelected" >
        <div  *ngIf="visible"style="margin-top:15px;" [innerHTML]="data.description"></div>
      </div>
    </div>
    <!--end more details-->


    </div>

  </div>
</div>



