body {
  margin: 0;
  padding: 0;
}

.login {
  width: 100%;
  height: 80vh;
  /* FLEX */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* background: linear-gradient(to right, #038836, #701379); */
}

.label{
  color: rgb(250, 250, 250);
}

