<div class="row">
  <div class="col-sm-4">

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Job Categories</h5>
        <div class="row">
          <div class="col-sm-6">
            <div class="category">
              <select>
                <option value="null">All</option>
                <option  *ngFor="let category of jobCategories" value="category.category_id">{{ category.title }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Search</button>
         </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-8">Vacancies</div>

</div>



