<div class="row">
  <!--start of job categories card-->
  <div class="col-sm-3" style="margin-top: 50px; ">

    <div class="card" style="width: 16rem;align-items: center;">
      <div class="card-body">
        <button type="button" class="btn btn-success" style="width: 200px;margin-bottom: 10px;" (click)="selectCategory(categorySelected,searchText)">Search</button>
        <input [(ngModel)]="searchText" type="text"  placeholder="Type here to search" style="width: 200px;">
        <h5 class="card-title">Job Categories</h5>
        <div class="row">
          <!--start of drop down list-->
          <div >
            <div class="category">
              <select [(ngModel)]="categorySelected">
                <option value="null">All</option>
                <option  *ngFor="let category of jobCategories" [value]="category.id">{{ category.title }}</option>
              </select>
            </div>
          </div>
          <!--end of drop down list-->

        </div>
        <!--job types selecting part start-->
        <div style="margin-top: 50px;" >
          <h5>Job Types</h5>
        <div class="types" *ngFor="let type of jobTypes" [(ngModel)]="typeSelected" >

          <input  class="form-check-input" type="checkbox"  id="flexCheckDefault" [value]="type.id"
          (change)="selectJobType(type.id)" >
          <label class="form-check-label" for="flexCheckChecked" >
            {{ type.title }}
          </label>
        </div>
        </div>

         <!--job types selecting part end-->

         <!--modality part start-->
         <div style="margin-top: 50px;" >
          <h5>Modality</h5>
          <div [(ngModel)]="modalitySelected" >
            <div class="types" *ngFor="let modality of jobModality" >
              <input  class="form-check-input" type="checkbox" [value]="modality.id"  id="flexCheckDefault"
              (change)="selectJobModality(modality.id)" >
              <label class="form-check-label" for="flexCheckChecked"  >
                {{ modality.title }}
              </label>
            </div>
          </div>
        </div>
         <!--modality part end-->


      </div>
    </div>
  </div>
  <!--end of job categories card-->
  <!--start of job vacancies cards-->
  <div class="col-sm-9" style="margin-top: 50px; ">

    <div class="card" style="width: 48rem; margin: 5px;" *ngFor="let data of allVacancyData |paginate:{
      itemsPerPage:tableSize,
      currentPage:page,
      totalItems:count
    }; let i=index" >

      <div class="card-body" style="margin: 10px;" >
        <div class="row">
            <div class="col-sm-1">
              <img src="{{ data.thumbnailUrl }}" alt="" height="50px" width="50px">
            </div>
            <div class="col-sm-9">
              <a (click)="onClick(data)"><h5 class="card-title">{{ data.title }}</h5></a>

              <a (click)="onClickCompany(data.company.id)"> <h6 class="company">{{ data.company.name }}</h6></a>
            </div>
            <div class="col-sm-2">
              <a href="#" class="btn btn-primary">Apply</a>
            </div>
        </div>
        <div class="row">
          <p class="card-text">{{ data.category.title }}</p>
          <div class="col-sm-2">
            <p class="card-text">Type: {{ data.type.title}}</p>
          </div>
          <div class="col-sm-3">
            <p class="card-text">Location: {{ data.company.address}}</p>
          </div>
          <div class="col-sm-2">
            <p class="card-text">Modality: {{ data.modality.title}}</p>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Salary: {{ data.salaryRange}}</p>
          </div>
        </div>
        <div class="row">
          <p class="card-text">Posted: {{ data.postedDate}}</p>
        </div>
      </div>
    <!--start more details-->
    <div class="row">
      <div *ngIf="data.id==vacancySelected">
        <p class="card-text" *ngIf="visible">{{ data.description }}</p>
      </div>
    </div>
    <!--end more details-->
    </div>



    <!--pagination control start-->
    <div>
      <pagination-controls
      previousLable="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">

      </pagination-controls>

    </div>
    <!--pagination control end-->
  </div>
 <!--end of job vacancies-->
</div>





