<div class="content">
  <div class="row mx-auto">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgba(255, 255, 255, 0);; width: 100%;margin: 0%;padding: 0%;">
      <div class="col-sm-6">
        <img src="../assets/logo.png" alt="" height="70px" width="160px">
      </div>

      <div class="col-sm-6" >
        <ul class="navbar-nav" style="align-items: end;">
          <li class="nav-item ">
            <a (click)="onClickPostAJob()" class="btn " style="margin-right: 4px;margin-bottom: 5px;background-color: rgba(51, 8, 209, 0.219);color: white;">Post a Job</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="btn " style="margin-right: 5px;margin-bottom: 4px;background-color: rgba(51, 8, 209, 0.219);color: white;">Login</a>
          </li>
          <li class="nav-item">
            <a href="/employer_signup" class="btn " style="margin-right: 5px;margin-bottom: 4px;background-color: rgba(51, 8, 209, 0.219);color: white;">Employer Signup</a>
          </li>
          <li class="nav-item">
            <a href="/jobseeker_signup" class="btn" style="margin-bottom: 5px;margin-right: 4px;background-color: rgba(51, 8, 209, 0.219);color: white;">Job Seeker Signup</a>
          </li>
          <li class="nav-item" >
            <a mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedin" class="profile"><mat-icon [inline]="true" style="transform: scale(2.7);color: rgb(250, 249, 246);margin-top: 70%;">account_circle</mat-icon></a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onClickProfile()">Profile</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="home" style="margin-top: 30px; ">
      <!--start of job categories card-->
      <div class="col-sm-3 ">

        <div class="card" style="align-items: center; margin: 0;padding: 0%;background-color: rgba(255, 255, 255, 0.137);">
          <div class="card-body" >
            <button type="button" class="btn" style="margin-bottom: 20px;width: 100%;background-color: rgba(51, 8, 209, 0.219);color: white;" (click)="selectCategory(categorySelected,searchText)">Search</button>
            <input class="form-control"  [(ngModel)]="searchText" type="search" placeholder="Type here to search" style="width: 100%;margin-bottom: 20px;background-color: rgba(255, 255, 255, 0.425);border-color: #a09b9b;border-width: 1px;">
             <h3 class="card-title" style="color: white">Job Categories</h3>
            <div class="row">
              <!--start of drop down list-->
              <div>
                <div class="category">
                  <select class="form-control" [(ngModel)]="categorySelected" style="background-color: rgba(255, 255, 255, 0.425);border-color: #a09b9b;border-width: 1px;color: white;">
                    <option value="null" style="background-color: rgba(255, 255, 255, 0.048);color:black">All</option>
                    <option *ngFor="let category of jobCategories" [value]="category.id" style="background-color: rgba(255, 255, 255, 0.425);color:black">{{ category.title }}</option>
                  </select>
                </div>
              </div>

              <!--end of drop down list-->


          </div>
          <!--job types selecting part start-->
          <div style="margin-top: 20px;" >
            <h3 style="color: white">Job Types</h3>
          <div class="types" *ngFor="let type of jobTypes" [(ngModel)]="typeSelected">

            <input  class="form-check-input" type="checkbox"  id="flexCheckDefault" [value]="type.id"
            (change)="selectJobType(type.id)" style="background-color: rgba(255, 255, 255, 0.425);border-color: #a09b9b;border-width: 1px;">&nbsp;
            <label class="form-check-label" for="flexCheckChecked" style="color: white" >
              {{ type.title }}
            </label>
          </div>
          </div>

           <!--job types selecting part end-->

           <!--modality part start-->
           <div style="margin-top: 20px;" >
            <h3 style="color: white">Modality</h3>
            <div [(ngModel)]="modalitySelected" >
              <div class="types" *ngFor="let modality of jobModality" >
                <input  class="form-check-input" type="checkbox" [value]="modality.id"  id="flexCheckDefault"
                (change)="selectJobModality(modality.id)" style="background-color: rgba(255, 255, 255, 0.425);border-color: #a09b9b;border-width: 1px;" >&nbsp;
                <label class="form-check-label" for="flexCheckChecked"  style="color: white">
                  {{ modality.title }}
                </label>
              </div>
            </div>
          </div>
           <!--modality part end-->


        </div>
      </div>


  </div>
  <!--end of job categories card-->
  <!--start of job vacancies cards-->
  <div class="col-sm-9" >

    <div class="card" style=" margin: 5px;background-color: rgba(255, 255, 255, 0.87);" *ngFor="let data of allVacancyData |paginate:{
      itemsPerPage:tableSize,
      currentPage:page,
      totalItems:count
    }; let i=index" >

      <div class="card-body" >
        <div class="row">
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-2">
                <img src="{{ data.company.logo }}" alt="" style="height: 70px;width:70px;">
              </div>
              <div class="col-sm-10">
                <a (click)="onClick(data)"><h2 class="card-title">{{ data.title }}</h2></a>
                <div class="row">

                  <div class="col">

                    <a (click)="onClickCompany(data.company.id)">
                      <p class="company">
                        <mat-icon [inline]="true" *ngIf="data.company.verification" style="color: rgb(3, 110, 3); height: 19px;width: 19px;">verified_user</mat-icon>&nbsp;{{ data.company.name }}</p></a>
                  </div>

                </div>

              </div>
            </div>

          </div>

            <div class="col-sm-2">
              <a (click)="applyForJob(data.id)" class="btn " style="background-color: rgba(24, 3, 100, 0.555);color: white;">Apply</a>
            </div>
        </div>
        <div class="row">
          <p class="card-text">{{ data.category.title }}</p>
          <div class="col-sm-2">
            <p class="card-text">Type: {{ data.type.title}}</p>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Location: {{ data.company.address}}</p>
          </div>
          <div class="col-sm-2">
            <p class="card-text">Modality: {{ data.modality.title}}</p>
          </div>
          <div class="col-sm-3">
            <p class="card-text">Salary: {{ data.salaryRange}}</p>
          </div>
        </div>
        <div class="row" >
          <p class="card-text" style="margin-top:15px;">Posted: {{ data.postedDate}}</p>
        </div>
        <!--start more details-->
    <div class="row" >
      <div *ngIf="data.id==vacancySelected" >
        <div  *ngIf="visible"style="margin-top:15px;" [innerHTML]="data.description"></div>
      </div>
    </div>
    <!--end more details-->
      </div>

    </div>



    <!--pagination control start-->
    <div>
      <pagination-controls
      previousLable="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)" style="text-align: center;">

      </pagination-controls>

    </div>
    <!--pagination control end-->
  </div>
 <!--end of job vacancies-->
</div>
</div>
</div>



